body{
    width: 1200px;
margin: 0 auto;

    align-items: center;
    background-color: aqua;
    background: url(../img/d-day-museum-projectiles_36.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    height: 100vh;
    width: 100%; /*根据需要设置宽度*/  
    background-size: cover;
    place-items: center;
    position: relative;
}
.dlk{
    display: flex;
    background-color: aliceblue;
  
    border-radius: 5%;
    overflow: hidden;
    width: 400px;
    height: 450px;
    align-items: center;
    justify-content: center;
    }
    .input{
        width: 100%;
        border: none;
        padding: 0.9rem 0.9rem;
        margin: 0.7rem;
        border-radius: 10px;
        margin-left: -13px;
        user-select: none;
        outline: none;
    }
    .btn{
        background-color: #41ABE3;
        width: 300px;
        border: none;
        height: 42px;
        border-radius: 20px;
        cursor: pointer;
   
    }
    .btn:hover{
        background-color: deepskyblue
    }
    .btnzi{
        color: aliceblue;
        font-size: 20px;
        margin-top: 6px;
    }
    .yh{
        margin-left: 98px;
        margin-top: 10px;
    }
    .dabox{
        display: flex;
        align-items: center;
    justify-content: center;
flex-direction: column;
    }

    .tubiao{

     position: relative;
     top: 2px;
     left: 40px;
     display: flex;
    
    }
    .ziti{
        /*position: fixed;/*固定位置*/
        top: 5%;/*距离上边缘的位置*/
        /*left: 3.5%;*/
        /*font-size: 2.5vh;*/
        font-family: 'Times New Roman', Times, serif;
        font-size:50px;
        text-align: center;
        font-style: normal;
        color:black;
    }
    .ziti2{
        /*position: fixed;*/
        font-size: 12px;
        /*left: 3.5%;*/
        /*top: 4.5%;*/
        text-align: center;
    }
    .tp{
        position: fixed;
        top: 1%;
        left: 1%;
        width: 2%;
        height: 5%;
      
    }
    .cw{
      
       width: 100%;
      
       border: 1px solid red;
   
        display: block;
            
        

      
       background-color: #FEF2F2;
        padding: 0.1rem 0.9rem;
        margin: 0.7rem;
    
        margin-left: -13px;
        user-select: none;
        outline: none;
    }

    .yj{
        position: relative;
        top: -42px;
        left: 284px;
    }
      .yj2{
        position: relative;
        top: -40px;
        left: 259px;
        visibility: hidden;
        
    }
    .biaoti{
        display: flex;
    }
    .mms{
        width: 72px;
        height: 64px;
        text-align:center;
        
    }
    .mmsa{
        position: relative;
        top: 77px;
        /*left: 1%;*/
        
    }
.gj{
    position: relative;
    top: 61%;
    left: -3%;
    width: 14px;
    height: 14px;
}
.jgk{
    height: 52px;
    width: 100%;
visibility: hidden;
}
.yh{
    position: relative;
    top: 10px;
    
}